<!DOCTYPE html>
<html>
<head>
  <title>Welcome To My App</title>
</head>
<body>
  <h1>Welcome, <%= @user.username %>!</h1>
  <p>Thank you for signing up on Your Website. We're excited to have you with us.</p>
  <p>Best regards,</p>
  <p>Your Website Team</p>
</body>
</html>
